<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
</head>
<body>

    <h1>{{ heading }} </h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
          <p>{{ message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
     


    <form action="/search_book" method="GET">
        <input type="text" name="title">
        <button type="submit">Search</button>
    </form>

    <form action="/add_book" method="POST">
        <input type="text" name="title">
        <input type="text" name="author">
        <input type="text" name="edition">
        <input type="text" name="publisher">
        <button type="submit">Add book</button>
    </form>
     

{% if books  %}
    {% for book in books %}
        <p>{{book["title"]}}</p>
        <p>{{book["author"]}}</p>
        <p>{{book["edition"]}}</p>
        <p>{{book["publisher"]}}</p>

        <a href="/edit_book/{{ book['id']}}">Edit</a>
    {% endfor %}
{% else %} 
    <p>No books available.</p>
{% endif %}

</body>
</html>