<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <nav>
        <a href="/">All Books</a>
        <a href="/logout">Logout</a>
    </nav>

    <h1>{{ heading }} </h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
          <p class="flash-message">{{ message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
     


    <form action="/search_book" method="GET">
        <input type="text" name="title">
        <button type="submit">Search</button>
    </form>

    <form action="/add_book" method="POST">
        <input type="text" name="title">
        <input type="text" name="author">
        <input type="text" name="edition">
        <input type="text" name="publisher">
        <button type="submit">Add book</button>
    </form>
     

{% if books  %}
    {% for book in books %}
    <div class="book-card">
        <p>{{book["title"]}}</p>
        <p>{{book["author"]}}</p>
        <p>{{book["edition"]}}</p>
        <p>{{book["publisher"]}}</p>

        <a class="action-link" href="/edit_book/{{ book['id']}}">Edit</a>
        <form action="/delete_book/{{ book['id'] }}" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
</form>
</div>
    {% endfor %}
{% else %} 
    <p>No books available.</p>
{% endif %}

</body>
</html>