<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
</head>
<body>

    <h1>Edit Book</h1>
    <form action="/edit_book/{{ book['id'] }}" method="POST">
        <input type="text" name="title" value="{{book['title']}}">
        <input type="text" name="author" value="{{ book['author']}}">
        <input type="text" name="edition" value="{{book['edition']}}">
        <input type="text" name="publisher" value="{{book['publisher']}}">
        <button type="submit">Update Book</button>


    </form>

</body>
</html>