<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
     
    <body>
        <div class="auth-container">
        <h1>Login</h1>

        {% with messages = get_flashed_messages() %}
           {% if messages %}
                {% for message in messages %}
                   <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

            <form action="/login" method="POST">
                <label>Username:</label>
                <input type="text" name="username">

                <br><br>
                <label>Password:</label>
                <input type="password" name="password">

                <br><br>

                <button type="submit">Login</button>
            </form>

            <p>
                Don't have an account?
                <a href="/register">Create an account</a>
            </p>
        </div>
    </body>
</html>